<% if user_signed_in? %>
    <%= render partial: "layouts/shared/arka_taraf/navbar" %>
<% end %>
<script>
    $(document).ready(function(){
        $($(".menu").find('li').find('a')[3]).attr('class','active');
    });
</script>
<br></br>


<!-- content -->
    <section id="content">
        <div class="bg-top">
        	<div class="bg-top-2">
                <div class="bg" style="background: url(<%= image_path("arka.jpg")%>) center top no-repeat;">
                    <div class="bg-top-shadow">
                        <div class="main">
                            <div class="box">
                                <div class="padding">
                                    <div class="container_12">
                                        <div class="wrapper">
                                            <div class="grid_12">
                                            	<div class="indent-left p2">
                                                	<h3 class="p0">Şubelerimiz</h3>
                                                </div>
                                                <div class="indent-left p2">
                                                        
                                                        <p>Eskişehir - Mundo Siloönü Sokak, No:3 Hoşnudiye Mahallesi Eskisehir, Turkey (0222) 220 94 90 <br><br>
                                                          Eskişehir – Kantin Fabrikalar Sokak, No:1/A Eskibağlar Mahallesi Eskişehir, Turkey (0222) 333 04 33  <br><br>
                                                          Ankara - Tunalı Abay Kunanbay Caddesi, No:14/A Barbaros Mahallesi Çankaya – Ankara, Turkey (0312) 428 44 48 <br><br>
                                                          Ankara - Bahçelievler Azerbaycan (3.) Caddesi, No:106 Yukarı Bahçelievler Mahallesi Bahçelievler – Ankara, Turkey (0312) 213 13 47<br> <br>
                                                          İzmir - Muzaffer İzgü Muzaffer İzgü Sokak, No:13 Kıbrıs Şehitleri Caddesi Alsancak – İzmir, Turkey (0232) 421 05 82 <br><br>
                                                          İzmir - Bornova Sk Bornova Sokak (1469), No:17 Alsancak Mahallesi Alsancak – İzmir, Turkey (0232) 421 45 07 <br><br>
                                                          Alaçatı - Değirmen 11048.Sokak, No:3/G Uğur Mumcu Caddesi Alaçatı – İzmir, Turkey <br><br>
                                                          Alaçatı - Hacımemiş 2012.Sokak, No:20 Hacımemiş Mahallesi Alaçatı – İzmir, Turkey <br><br>
                                                          İstanbul - Beyoğlu Kumbaracı Yokuşu, No:79/D İstiklal Caddesi, Şişhane Beyoğlu – İstanbul, Turkey (0543) 839 08 04 <br><br>
                                                          İstanbul - Yan Bahçe Kumbaracı Yokuşu, No:77 İstiklal Caddesi, Şişhane Beyoğlu – İstanbul, Turkey (0543) 839 08 04 <br><br>
                                                          Antalya - Kaleiçi Hamam Sokak, No:2/1 Kılıçarslan Mahallesi Muratpaşa – Antalya, Turkey (0242) 248 29 03 <br><br>
                                     
                                                          </p>
                                                        
                                                        <p class="color-4 prev-indent-bot">11 şubemizle 5 şehirde hizmetinizdeyiz.</p>
                                                </div>
                                                <div class="wrapper">
                                                    <% @Faydalars.each do |faydalar| %>
                                                        <article class="grid_4 alpha">
                                                            <div class="indent-left">
                                                              <center>
                                                                    <figure class="frame2 p2">
                                                                    <%= image_tag faydalar.resim.url(:thumb) if faydalar.resim? %></figure>
                                                                    <p class="color-4 prev-indent-bot"><%= faydalar.baslik %>.</p>
                                                                    <p><%= faydalar.aciklama %></p>
                                                              </center>
                                                            </div>
                                                        </article>
                                                    <% end %>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>	
        </div>
        <div class="bg-bot">
        	<div class="main">
            	<div class="container_12"></div>
            </div>
        </div>
    </section>