<%= render partial: "layouts/shared/arka_taraf/navbar" %>
<p id="notice"><%= notice %></p>

<h1>Faydalars</h1>

<table class="table">
  <thead>
    <tr>
      <th>Baslik</th>
      <th>Aciklama</th>
      <th>Resim</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @faydalars.each do |faydalar| %>
      <tr>
        <td><%= faydalar.baslik %></td>
        <td><%= faydalar.aciklama %></td>
        <td><%= link_to 'Show', faydalar %></td>
        <td><%= image_tag faydalar.resim.url(:thumb) if faydalar.resim? %> </td>
        <td><%= link_to 'Edit', edit_faydalar_path(faydalar) %></td>
        <td><%= link_to 'Destroy', faydalar, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Faydalar', new_faydalar_path %>
